@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @Html.Sitecore().CurrentItem.Name
    </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SitecoreX", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Sitecore().Placeholder("main")
        <h1>
            @Html.Sitecore().Field("Title")
        </h1>
        <p>
            @Html.Sitecore().Field("Text")
        </p>
        <footer>
            @Html.Sitecore().Placeholder("footer")
        </footer>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script>
        $(document).ready(function () {
            debugger;
            $.ajax({
                type: 'POST',
                url: 'https://sapient3.evaluation.dw.demandware.net/s/SiteGenesis/dw/shop/v16_1/customers/auth?pretty_print=true&client_id=5a40714c-52c3-44df-a00d-9d3bb2dc8ea8',
                contentType: 'application/json',
                data: JSON.stringify({ 'type': 'guest' }),
                success: function (data) {
                    debugger;                   
                        $.ajax({
                            type: 'POST',
                            url: 'https://sapient3.evaluation.dw.demandware.net/s/SiteGenesis/dw/shop/v16_1/baskets',
                            contentType : 'application/json',
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader("Authorization", "Bearer ")
                            },

                            success: function(data) {
                                console.log(data);
                            },
                            error: function(xhr, status, error) {

                            }
                        });

                    console.log(data);
                },
                error: function (xhr, status, error) {

                }
            });
        });
    </script>
</body>
</html>
